@for(quake of features; track quake){
<div class="row justify-content-center mt-2">
    <div class="col-md-4">
        <mat-card appearance="raised">
            <mat-card-header>
                <mat-card-title>{{quake.properties.place}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="d-flex flex-row">
                    <div class="m-1">Mag:</div>
                    <div class="m-1" [style]="getMagnitudeStyle(quake.properties.mag)">{{quake.properties.mag}}</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="m-1">Date:</div>
                    <div class="m-1">
                        {{quake.properties.time | date: 'full'}}
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <a [href]="quake.properties.url">View</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
}

@if(noQuakes) {
    <div class="row justify-content-center">
        <p>No quakes in your area within the last 3 months</p>
    </div>
}
